@import url(colors.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    height: 25rem;
    width: 100%;
    border-radius: 0 0 2.5rem 2.5rem;
    position: relative;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 0 0 2.5rem 2.5rem;
    }
    .back{
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        font-size: 1.4rem;
        display: grid;
        place-items: center;
        color: var(--principal-2);
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        box-shadow: 0 0 50px rgba(90, 90, 90, 0.2);
    }
    .like{
        background-color: white;
        width: 3.7rem;
        height: 3.7rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 1.4rem;
        color: var(--texto-7);
        position: absolute;
        bottom: -1.85rem;
        right: 3rem;
        box-shadow: 0 1px 5px rgba(90, 90, 90, 0.2);
    }
}
main{
    width: 100%;
    height: calc(100% - 25rem);
    .info{
        width: 100%;
        height: 7rem;
        padding-left: 2rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title{
            text-align: left;
            font-size: 1.5rem;
            font-weight: 700;
        }
        nav{
            display: flex;
            font-weight: 600;
            gap: 2rem;
            color: var(--texto-7);
            text-decoration: none;
        }
    }
}