@import url(colors.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
header{
    padding: 1rem 1.2rem;
    .user{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        gap: .8rem;
        .user_img{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            box-shadow: 1px 1px 5px var(--difuminado);
            object-fit: cover;
        }
        .mid{
            height: 100%;
            width: 15rem;
            display: flex;
            flex-direction: column;
            justify-content: center;   
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            .mid_name{
                font-weight: 700;
                font-size: 1.5rem;
            }
            .mid_a{
                font-weight: 400;  
                color: var(--texto-8);              
            }
        }
        .btn_opt{
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transition: all .2s;
        }
        .btn_opt:hover{
            background-color: var(--principal-4);
            cursor: pointer;
        }
    }
}
body{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--principal-2);
    position: relative;
    main{
        width: 100%;
        height: fit-content;
        padding: 0 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .cuadro{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            height: fit-content;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            .title{
                font-size: 1.3rem;
                font-weight: 700;
            }
            section{
                width: 100%;
                height: 11rem;
                border: 1px solid var(--difuminado);
                box-shadow: 1px 1px 5px var(--difuminado);
                border-radius: .5rem;
                padding: 1rem 1.5rem;
                .sec-title{
                    width: 100%;
                    height: 50%;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .content{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .left-up{
                            font-size: .9rem;
                            color: var(--texto-8);
                            font-weight: 500;
                        }
                        .left-bot{
                            font-weight: 600;
                        }
                    }
                    .btn-content{
                        padding: .5rem 1rem;
                        background-color: var(--texto-2);
                        color: var(--texto-1);
                        border-radius: .5rem;
                        font-weight: 500;
                    }
                }
            }
            .logout{
                width: 100%;
                height: 6rem;
                border: 1px solid var(--difuminado);
                box-shadow: 1px 1px 5px var(--difuminado);
                border-radius: .5rem;
                padding: 1.5rem 1.5rem;
                .btn-logout{
                    padding: 0 1rem;
                    height: 100%;
                    width: fit-content;
                    display: grid;
                    place-items: center;
                    color: var(--texto-1);
                    font-weight: 600;
                    border-radius: .5rem;
                    background-color: var(--logout);
                }
            }
        }
        .cuadro:last-child{
            margin-bottom: 9rem;
        }
    }
    nav{
        position: fixed;
        bottom: 1.8rem;
        height: 5rem;
        width: 22rem;
        align-self: center;
        background-color: var(--principal-3);
        border-radius: 1.3rem;
        box-shadow: 0 0 8px -5px var(--texto-2);
        display: flex;
        .button{
            flex: 0 0 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 1.5rem;
                color: var(--texto-7);
            }
            .button-active{
                color: var(--principal-1);
            }
        }
        .active{
            pointer-events: none;
        }

    }
    .container{
        width: 100%;
        height: fit-content;
        padding: 2rem 1.2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .login-title{
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            justify-content: center;
        }
        form{
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: var(--principal-1);
            border-radius: .5rem;
            padding: 2rem 1rem;
            gap: 1rem;
            label{
                width: 100%;
                color: var(--texto-1);
                font-size: 1.5rem;
                font-weight: 600;
            }
            input{
                width: 100%;
                height: 3rem;
                padding: 0 1rem;
                border: none;
                outline: none;
                border-radius: .5rem;
            }
            input[type="submit"]{
                margin-top: 1rem;
                width: 10rem;
                align-self: center;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }
}
