@import url(colors.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}
body{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--principal-2);
    gap: 1.8rem;
    position: relative;
    nav{
        position: fixed;
        bottom: 1.8rem;
        height: 5rem;
        width: 22rem;
        align-self: center;
        background-color: var(--principal-3);
        border-radius: 1.3rem;
        box-shadow: 0 0 8px -5px var(--texto-2);
        display: flex;
        .button{
            flex: 0 0 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i{
                font-size: 1.5rem;
                color: var(--texto-7);
            }
            .button-active{
                color: var(--principal-1);
            }
        }
        .active{
            pointer-events: none;
        }

    }
}
